

.user-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.user-vertical-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    transition: background-color 0.4s ease;
   
}

.user-vertical-card:hover {
    background-color: #f8f8f8;
      transform: translateY(-5px);
      box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.vertical-profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    /* border: 2px solid #1f3d85; */
}

.user-info {
    flex: 1;
}

.user-name {
    font-size: 1.1rem;
    margin: 0;
    color: #1f3d85;
    font-weight: 600;
}

.user-sub {
    margin: 2px 0;
    font-size: 1rem;
    color: #555;}

/* Button group styles */
.btn-group {
    margin-top: 8px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.friend-confirm {
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.2s ease;


/* Blue button */

    background-color: #1f3d85;
    color: white;
}

.friend-confirm:hover {
    background-color: #163172;
}

.friend-view {
margin-left: 450px;

border-radius: 13px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 17px;}

/* }
.friend-view:hover{
    background-color: #1f3d85;
    color: white;
} */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes waveMove {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}


