*{
	font-family: sans-serif;
}
.info{
  margin-top: 80px;
 
}

h2 {
  text-align: center;
  background-color:#1f3d85 ;
  /* width: 109%; */
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.table {
  background-color: whitesmoke;
  font-size: 1.2rem;
}

.table th {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
}

.table td {
  text-align: center;
  vertical-align: middle;
}
.msg{
  white-space: wrap;
  overflow: hidden;

}
.btn {
  margin: 2px;
  
}
#button{
    background-color: #eaeffc;
}
#button:hover{
    background-color: #1f3d85;
  color: white;
}
.container {
 
  border-radius: 8px;
  padding: 30px;
 
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
}
.main-content {
  margin-top: 3px;
  margin-left: 300px; 
  padding: 2rem;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

/* Mobile View */
@media (max-width: 767.98px) {
  .main-content {
    margin-left: 0; 
  }
}

.card{
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}